/* Check element dimensions */
.ed {
  background-color: #c2e0e8;
}

/* Default */
body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

/* Bootstrap Override */
.card {
  -webkit-box-shadow: 0px 5px 20px -3px rgba(227, 227, 227, 1);
  -moz-box-shadow: 0px 5px 20px -3px rgba(227, 227, 227, 1);
  box-shadow: 0px 5px 20px -3px rgba(227, 227, 227, 1);
}

/* Home */
#main-header {
  margin-top: 30%;
}

/* Brand */
#tactics {
  color: #313131;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  letter-spacing: 3px;
}
#catalogue {
  letter-spacing: 5px;
}
#btn-merch {
  background-color: #536fbc;
  border-radius: 0px;
  border-color: #536fbc;
  padding: 10px 20px 10px 20px;
  letter-spacing: 0px;
}

/* Section Divider */
#line {
  border-left: 0.5px solid black;
  height: 70px;
  margin-top: 30%;
}

/* Navigation Bar */
#navbar {
  margin-top: 15%;
}
#apparel, #accessories, #aboutus {
  padding-top: 10%;
  letter-spacing: 3px;
}
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: black;
}
/* Navigation Bar: Classes*/
.nav-hover {
  border-bottom: 3px solid #4f68af;
  padding-bottom: 10%;
}

/* Content Section*/
#content {
  margin-top: 10%;
}
/* Content Section: Classes */
.card-size {
  width: 20px;
}
.card-text {
  letter-spacing: 1px;
}
.btn-get {
  background-color: #4f68af;
  border-radius: 0px;
  border-color: #4f68af;
  padding: 10px 30px 10px 30px;
  letter-spacing: 0px;
}
